.callToAction {
  align-items: center;
  color: $color--black;
  display: flex;
  justify-content: center;
  &.column a {
    flex-direction: column;
  }
  &.left {
    justify-content: left;
  }
  &.visible-xs {
    margin-top: 4rem;
  }
  a {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  span {
    display: block;
    font-family: $font--exo;
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
  }
  span.underline {
    position: relative;
    &:before {
      background-color: $color--sub;
      content: '';
      bottom: 2px;
      display: inline-block;
      height: 3px;
      left: 0;
      opacity: 0.5;
      position: absolute;
      right: 0;
      width: 100%;
      z-index: -10;
    }
  }
  span.aboutEmail.underline:before {
    bottom: -4px;
  }
  svg {
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  #about .callToAction--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3rem;
    .callToAction {
      display: inline-flex;
    }
  }
  .callToAction {
    justify-content: left;
    transition: $transition--s;
    &.column a {
      flex-direction: unset;
      svg {
        font-size: 1.6rem;
      }
    }
    &:not(.bounce):hover {
      transform: translateX(4px);
    }
    svg {
      font-size: 1.6rem;
      margin-top: 0.4rem;
    }
  }
}