.expertise--card {
  align-items: center;
  background-color: $color--card;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 1.8rem 4rem 1.8rem;
  + .expertise--card {
    margin-top: 1.5rem;
  }
  span, p {
    color: $color--gray;
    font-family: $font--exo;
  }
  img {
    margin-bottom: 1.6rem;
    width: 6rem;
  }
  p {
    font-size: 1.6rem;
    text-align: center;
  }
  span {
    font-size: $font--p;
    font-weight: bolder;
    margin-bottom: 0.6rem;
  }
}

@media (min-width: 1200px) {
.expertiseCard--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.expertise--card {
  width: calc((100% - 6rem) / 3);
  + .expertise--card {
    margin-top: unset;
  }
}
}