// $color--card: rgba(0,165,213,0.05); // Blue
$color--card: rgba(238,134,168,0.075); // Pink
.expertise--card {
  background-color: $color--card;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 4.4rem 1.5rem 4rem 1.5rem;
  margin: auto;
  max-width: $container--maxWidth;
  + .expertise--card {
    margin-top: 2rem;
  }
  span, p {
    color: $color--gray;
    font-family: $font--exo;
  }
  div {
    display: inline-block;
    margin-left: 1rem;
  }
  img {
    height: 100%;
    width: 4.5rem;
  }
  p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0.5rem;
    text-align: left;
  }
  span {
    font-size: $font--p;
    font-weight: bolder;
    line-height: 0.65;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
.expertiseCard--container {
  display: flex;
  flex-direction: column;
}
.expertise--card {
  padding: 4.4rem 3rem 3.6rem 3rem;
  max-width: 50vw;
}
}

@media (min-width: 1200px) {
.expertiseCard--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.expertise--card {
  border-radius: 0.5rem;
  flex-direction: column;
  align-items: center;
  margin: unset;
  max-width: 32rem;
  padding: 3.5rem 2.5rem;
  width: calc((100% - 4rem) / 3);
  + .expertise--card {
    margin-top: unset;
  }
  div, p {
    margin-left: unset;
    text-align: center;
  }
  img {
    height: unset;
    margin: 0 0 2rem 0;
  }
}
}