section {
  padding: 3rem 0 6rem 0;
  position: relative;
  .section--header {
    align-items: center;
    display: flex;
    height: 2.4rem;
    justify-content: center;
    margin-bottom: 3rem;
    overflow: hidden;
    width: 100vw;
    h2 {
      color: $color--white;
      font-family: $font--azo;
    }
    + p {
      font-family: $font--serif;
      margin-bottom: 6rem;
      padding: 0 5vw 0 5vw;
      text-align: center;
      &.ctaOnly {
        margin-bottom: 2rem;
      }
    }
  }
  .section--container {
    padding: 0 5vw;
  }
}
section.landingPage {
  padding: 9rem 0 3rem 0;
  .section--header {
    margin-bottom: 2rem;
  }
  &:last-child {
    padding: 9rem 0 9rem 0;
  }
}
section.work--detail {
  padding: 6rem 0 6rem 0;
  .section--header {
    flex-direction: column;
    height: auto;
    margin-bottom: 2rem;
    overflow: unset;
    h2 {
      color: $color--black;
      font-family: $font--serif;
    }
    p {
      font-family: $font--serif;
      font-size: 1.6rem;
    }
  }
  .detail--list {
    margin: 2rem 0 0 0;
    p {
      font-family: $font--exo;
      font-size: 1.2rem;
      line-height: 135%;
      span {
        display: inline-block;
        width: 62px;
      }
    }
  }
  .detail--body {
    margin: 0 0 2rem 0;
    &:last-child {
      margin: 0;
    }
    h4 {
      margin: 2rem 0 0.2rem 0;
    }
    p {
      font-family: $font--exo;
      font-size: 1.6rem;
      line-height: 135%;
      + p {
        margin-top: 0.8rem;
      }
    }
  }
}

@media (min-width: 1200px) {
#about {
  display: flex;
  justify-content: center;
}
section, section.work--detail {
  padding: 6rem 16rem;
  &:not(#landing)::after {
    bottom: 0;
    content: " ";
    display: block !important;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }
  &#featuredWork::after, &#work::after, &#work--detail::after {
    background-color: $color--sub;
  }
  &#expertise::after {
    background-color: $color--main;
  }
  &#about::after {
    background-color: $color--accent;
  }
  .section--header {
    justify-content: left;
    overflow: unset;
    width: auto;
    &.bcBlue,&.bcPink,&.bcBlack {
      background-color: unset;
    }
    h2 {
      color: $color--gray;
    }
    + p {
      justify-content: left;
      margin-bottom: 2rem;
      padding: unset;
      text-align: left;
    }
  }
  .section--container {
    padding: unset;
  }
}
section.landingPage,section.landingPage:last-child {
  padding: 12rem 16rem;
}
section.work--detail {
  position: relative;
  div.desktop--div {
    position: fixed;
    width: calc((100% - 32rem)/2);
    padding-right: calc((100% - 32rem)/12);
  }
  .work--img--container {
    margin: unset;
  }
  .section--header {
    align-items: unset;
    margin-bottom: 3rem;
    h2 {
      font-size: 4rem;
      color: $color--accent;
    }
    p {
      color: $color--gray;
      font-size: 1.8rem;
    }
  }
  .section--container {
    border-top: 2px solid $color--lightgray;
    padding-top: 3.2rem;
    display: inline-block;
  }
  .detail--list {
    margin: 1.5rem 0 0 0;
    p {
      font-size: 1.4rem;
      line-height: 135%;
      span {
        width: 80px;
      }
    }
  }
  .detail--body {
    margin: 0 0 1.5rem 0;
    &:last-child {
    }
    h4 {
      margin: unset;
    }
    p {
      margin-bottom: 1.5rem;
    }
  }
}
}