// $box-shadow--default: 0 3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24), 0 0 3px rgba(0,0,0,0.12);
// $box-shadow--hover: 0 6px 6px rgba(0,0,0,0.08), 0 6px 6px rgba(0,0,0,0.16), 0 0 6px rgba(0,0,0,0.08);
$color--black: #404040;
// $color--gray-dark: #333333;
$color--lightgray: #E6E6E6;
$color--gray: #808080;
// $color--white--transparent: rgba(255,255,255,0.95);
$color--white: #FFFFFF;
$color--card: rgba(0,165,213,0.05);
$color--main: #00A5D5;    // Blue
$color--sub: #EE86A8;     // Pink
$color--accent: #404040;  // Black
$font--serif: "tribute", "Georgia", "Times New Roman", serif;
$font--exo: "Exo 2", "helvetica", sans-serif;
$font--azo: "azo-sans-web", "helvetica", sans-serif;
$font--p: 1.8rem;   // BODY TEXT
$font--h1: 3.8rem;  // PAGE BANNER
$font--h2: 3.2rem;  // PAGE MAIN HEADER
$font--h3: calc(#{$font--p} * 2.46);  // PAGE SUB HEADER
$font--h4: calc(#{$font--p} * 1.83);  // ARTICLE MAIN HEADER
$font--h5: calc(#{$font--p} * 1.35);  // ARTICLE SUB HEADER
$space__mobile--s: 30px;
$space__mobile--m: 60px;
$space__mobile--l: 90px;
$space__desktop--s: 20px;
$space__desktop--m: 40px;
$space__desktop--l: 60px;
$transition--s: 0.3s;
$transition--m: 0.6s;
$transition--l: 1s;