#wImgContainerMobile { // => Specific to *work_detail.html'
  img {
    margin-bottom: 2rem;
  }
}
#wImgContainerDesktop { // => Specific to *work_detail.html'
  display: none;
  width: 50%;
  padding-top: 2.5vh;
  img {
    margin-bottom: 3rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
a.work--image {
  display: block;
  position: relative;
  &::before {
    border-radius: $border--radius;
    box-shadow: $box-shadow--image;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
  }
  &.active {
    div {
      opacity: 1;
    }
  }
  img {
    display: block;
  }
  div {
    align-items: center;
    bottom: 0;
    color: $color--white;
    display: flex;
    flex-direction: column;
    font-family: $font--serif;
    justify-content: center;
    left: 0;
    opacity: 0;
    padding: 3% 3.5%;
    position: absolute;
    right: 0;
    transition: $transition--s;
    &::after {
      background-color: $color--black;
      bottom: 0;
      content: "";
      height: 100%;
      position: absolute;
      transition: $transition--s;
      width: 100%;
    }
    span {
      line-height: 1;
      text-align: center;
      width: 100%;
      z-index: 10;
      &.workName {
        padding-top: 0.2rem;
        font-size: 2.4rem;
      }
      &.workCountry {
        display: none;
        font-size: 1.6rem;
      }
      &.workCategory {
        font-family: $font--exo;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
        &::before {
          background-color: rgba(255,255,255,0.35);
          content: '';
          display: block;
          height: 1px;
          margin: 0 auto 3px auto;
          width: 65%;
        }
      }
    }
  }
}
.featuredWork--img--container {
  margin: auto;
  max-width: calc(#{$container--maxWidth} + 3rem);
  a {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.work--img--container {
  max-width: calc(#{$container--maxWidth} + 3rem);
  margin: auto;
  a {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// START / work_detail.html
@media (min-width: 768px) and (max-width: 984px) {
  #wImgContainerDesktop { // => Specific to *work_detail.html'
    display: block;
    margin: 0 3rem 0 auto;
  }
}
@media (min-width: 984px) and (max-width: 1199px) {
  #wImgContainerDesktop { // => Specific to *work_detail.html'
    display: block;
    margin: 0 4.5rem 0 auto;
  }
}
// END / work_detail.html

@media (min-width: 768px) and (max-width: 1199px) {
  a.work--image {
    max-width: calc(50% - 3rem);
    margin: 1.5rem;
  }
  .featuredWork--img--container {
    display: flex;
    flex-wrap: wrap;
    max-width: 70rem;
    margin-top: -1.5rem;
    a {
      margin-bottom: 1.5rem;
    }
  }
  .work--img--container {
    display: flex;
    flex-wrap: wrap;
    max-width: 70rem;
    margin-top: -1.5rem;
    a {
      margin-bottom: 1.5rem;
    }
  }
}

@media (min-width: 1200px) {
  #wImgContainerDesktop { // => Specific to *work_detail.html'
    display: block;
    margin-left: auto;
  }
  a.work--image {
    margin: 1.5rem;
    &:hover {
      div {
        opacity: 1;
      }
    }
    div {
      padding: 1.2rem 1.4rem 1.4rem 1.4rem;
      span {
        text-align: left;
        &.workName {
          font-size: 3.4rem;
          margin-left: -0.2rem;
        }
        &.workCountry {
          display: unset;
          font-size: 2rem;
        }
        &.workCategory {
          font-size: 1.8rem;
          letter-spacing: unset;
          &::before {
            background-color: rgba(255,255,255,0.7);
            margin: 10px auto 6px auto;
            width: 100%;
          }
        }
      }
    }
  }
  a.work--image.work--image--mini {
    div {
      padding: 0.85rem 0.95rem 0.95rem 0.95rem;
      span {
        &.workName {
          font-size: 2.2rem;
          margin-left: -0.1rem;
          margin-bottom: 0.2rem;
        }
        &.workCountry {
          font-size: 1.5rem;
        }
        &.workCategory {
          font-size: 1.4rem;
          &::before {
            margin: 7.5px auto 8px auto;
          }
        }
      }
    }
  }
  .featuredWork--img--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: -1.5rem;
    max-width: unset;
    padding: unset;
    a {
      &:last-child {
        margin-bottom:  1.5rem;
      }
    }
    a {
      &.fw--01 {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
      }
      &.fw--02 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
      }
      &.fw--03 {
        grid-column: 4 / span 1;
        grid-row: 1 / span 1;
      }
      &.fw--04 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
      }
      &.fw--05 {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
      }
      &.fw--06 {
        grid-column: 3 / span 2;
        grid-row: 2 / span 2;
      }
    }
  }
  .work--img--container { // => Specific to 'work.html'
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: -1.5rem;
    max-width: unset;
    a {
      &:last-child {
        margin-bottom: 1.5rem;
      }
      &.w--01 {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
      }
      &.w--02 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
      }
      &.w--03 {
        grid-column: 4 / span 1;
        grid-row: 1 / span 1;
      }
      &.w--04 {
        grid-column: 3 / span 2;
        grid-row: 2 / span 2;
      }
      &.w--05 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
      }
      &.w--06 {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
      }
      &.w--07 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
      }
      &.w--08 {
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
      }
      &.w--09 {
        grid-column: 3 / span 2;
        grid-row: 4 / span 1;
      }
    }
  }
}