a.work--image {
  display: block;
  overflow: hidden;
  position: relative;
  img {
    display: block;
    transition: $transition--m;
  }
  div {
    align-items: center;
    bottom: 0;
    color: $color--white;
    display: flex;
    flex-direction: column;
    font-family: $font--serif;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: $transition--m;
    z-index: 10;
    span {
      text-align: center;
      width: 100%;
    }
    .workName {
      font-size: 2.6rem;
    }
    .workCountry {
      font-size: 1.6rem;
      &::after {
        content: '';
        width: 85%;
        height: 2px;
        display: block;
        margin: 7px auto;
        background-color: $color--white;
      }
    }
    .workCategory {
      font-family: $font--exo;
      font-size: 1.4rem;
    }
  }
  &::after {
    background-color: $color--gray;
    bottom: 0;
    content: "";
    left: 0;
    mix-blend-mode: multiply;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: $transition--m;
    top: 0;
  }
}

a.work--image.active {
  img {
    filter: blur($blurAmount);
  }
  div {
    opacity: 1;
  }
  &::after {
    opacity: 0.6;
  }
}