#wImgContainerDesktop { // => Specific to *work_detail.html'
  display: none;
}
a.seeMore, a.seeExperiments {
  display: none;
}
a.work--image {
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 100%; // [confirmed] not a flex-item
  &::after {
    background-color: $color--black;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 75%;
    transition: $transition--m;
  }
  &.active {
    &::after {
      opacity: 0.975;
    }
    div {
      opacity: 1;
    }
  }
  img {
    display: block;
    transition: $transition--m;
  }
  div {
    align-items: center;
    bottom: 0;
    color: $color--white;
    display: flex;
    flex-direction: column;
    font-family: $font--serif;
    justify-content: center;
    left: 0;
    opacity: 0;
    padding: 0 3.5%;
    position: absolute;
    right: 0;
    top: 76.5%;
    transition: $transition--m;
    z-index: 10;
    span {
      text-align: left;
      width: 100%;
    }
    .workName {
      font-size: 2.6rem;
    }
    .workCountry {
      display: none;
      font-size: 1.6rem;
    }
    .workCategory {
      font-family: $font--exo;
      font-size: 1.4rem;
      &::before {
        content: '';
        width: 100%;
        height: 1px;
        display: block;
        margin: 2px auto;
        background-color: $color--white;
      }
    }
  }
}
.featuredWork--img--container {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  margin: auto;
  max-width: calc(#{$container--maxWidth} + 3rem);
  a {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
    &.fw--01,&.fw--02,&.fw--03,&.fw--05,&.fw--06 {
      background-size: cover;
    }
    &.fw--01 {
      background-image: url('../images/dummy_1x.png');
    }
    &.fw--02 {
      background-image: url('../images/dummy_1x.png');
    }
    &.fw--03 {
      background-image: url('../images/dummy_1x.png');
    }
    &.fw--04 {} // .seeMore
    &.fw--05 {
      background-image: url('../images/dummy_1x.png');
    }
    &.fw--06 {
      background-image: url('../images/dummy_1x.png');
    }
  }
}
.work--img--container {
  max-width: calc(#{$container--maxWidth} + 3rem);
  margin: auto;
  a, img {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    &.w--01,&.w--02,&.w--03,&.w--04,&.w--05,&.w--06,&.w--08,&.w--09,&.w--10 {
      background-size: cover;
    }
    &.w--01 {
      background-image: url('../images/dummy_1x.png');
    }
    &.w--02 {
      background-image: url('../images/dummy_1x.png');
    }
    &.w--03 {
      background-image: url('../images/dummy_1x.png');
    }
    &.w--04 {
      background-image: url('../images/dummy_1x.png');
    }
    &.w--05 {
      background-image: url('../images/dummy_1x.png');
    }
    &.w--06 {
      background-image: url('../images/dummy_1x.png');
    }
    &.w--07 {} //.seeExperiments
    &.w--08 {
      background-image: url('../images/dummy_1x.png');
    }
    &.w--09 {
      background-image: url('../images/dummy_1x.png');
    }
    &.w--10 {
      background-image: url('../images/dummy_1x.png');
    }
  }
}

@media (min-width: 1200px) {
#wImgContainerDesktop { // => Specific to *work_detail.html'
  display: block;
  margin-left: auto;
  width: 50%;
  img {
    margin-bottom: 3rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
a.seeMore, a.seeExperiments {
  align-items: left;
  border: 5px solid $color--sub;
  display: flex;
  flex-direction: column-reverse;
  justify-content: unset;
  margin: 1.5rem;
  padding: 1.2rem;
  transition: $transition--s;
  &:hover {
    border: 10px solid $color--sub;
  }
  span {
    color: $color--sub;
    font-family: $font--azo;
    font-size: 2.4rem;
    font-weight: bolder;
    line-height: 1;
  }
}
a.work--image {
  margin: 1.5rem;
  padding-bottom: 5rem; // 888
  &::after {
    transition: $transition--s;
  }
  &:hover {
    &::after {
      opacity: 0.6;
    }
    img {
      filter: blur($blurAmount);
    }
    div {
      opacity: 1;
    }
  }
  div {
    padding: 3rem;
    justify-content: flex-end;
    transition: $transition--s;
    span {
      text-align: left;
    }
    .workName {
      font-size: 3.4rem;
      margin-bottom: 0.4rem;
      margin-left: -0.2rem;
    }
    .workCountry {
      font-size: 1.8rem;
      &::after {
        width: 100%;
        margin: 9px 0;
      }
    }
    .workCategory {
      font-size: 1.8rem;
    }
  }
  img {
    transition: $transition--s;
  }
}
a.work--image.work--image--mini {
  div {
    padding: 1.2rem;
    .workName {
      font-size: 2.8rem;
      margin-bottom: unset;
      margin-left: -0.1rem;
    }
    .workCountry {
      font-size: 1.6rem;
      &::after {
        margin: 6px 0;
      }
    }
    .workCategory {
      font-size: 1.4rem;
    }
  }
}
.featuredWork--img--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: -1.5rem;
  max-width: unset;
  padding: unset;
  a {
    &:last-child {
      margin-bottom:  1.5rem;
    }
  }
  a {
    &.fw--01 {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }
    &.fw--02 {
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
    }
    &.fw--03 {
      grid-column: 4 / span 1;
      grid-row: 1 / span 1;
    }
    &.fw--04 {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }
    &.fw--05 {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
    }
    &.fw--06 {
      grid-column: 3 / span 2;
      grid-row: 2 / span 2;
    }
  }
}
.work--img--container { // => Specific to 'work.html'
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: -1.5rem;
  max-width: unset;
  a {
    &:last-child {
      margin-bottom: 1.5rem;
    }
    &.w--01 {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }
    &.w--02 {
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
    }
    &.w--03 {
      grid-column: 4 / span 1;
      grid-row: 1 / span 1;
    }
    &.w--04 {
      grid-column: 3 / span 2;
      grid-row: 2 / span 2;
    }
    &.w--05 {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }
    &.w--06 {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
    }
    &.w--07 {
      grid-column: 1 / span 2;
      grid-row: 4 / span 1;
    }
    &.w--08 {
      grid-column: 3 / span 1;
      grid-row: 4 / span 1;
    }
    &.w--09 {
      grid-column: 4 / span 1;
      grid-row: 4 / span 1;
    }
    &.w--10 {
      grid-column: 1 / span 2;
      grid-row: 5 / span 2;
    }
  }
}
}