@charset "utf-8";
@import "_reset";
@import "_variable";
@import "_font";
@import "_debugger";
@import "_section";
@import "_expertiseCard";
@import "_menu";
@import "_workImage";
@import "_callToAction";

#landing {
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  padding: 0 0 1.5rem 0;
  .landing--banner {
    align-items: center;
    display: flex;
    flex-direction:column;
    height: 100%;
    justify-content: center;
    div {
      text-align: center;
      &:first-child {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
      }
    }
    img {
      width: 68.75vw;
      max-width: 320px;
      margin-bottom: 4rem;
    }
  }
}
.about--text {
  padding: 0 1.5rem;
  p {
    font-family: $font--serif;
    font-size: $font--p;
    + p {
      margin-top: $font--p;
    }
  }
  .callToAction {
    margin-top: 3rem;
    span {
      margin: 0 0 0 0.6rem;
    }
  }
}
.button--container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 3rem 0 0 0;
  svg {
    font-size: 3.2rem;
  }
}
.experiment--img--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  a {
    width: 42.5%;
    margin-bottom: 5%;
    &:last-child, &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
  img {
    display: block;
    height: 100%;
    width: 100%;
  }
}
.kern__adj--s {
  letter-spacing: -0.05rem;
}
.number--container {
  align-items: center;
  color: $color--gray;
  display: flex;
  font-family: $font--exo;
  margin: 0 2rem;
  position: relative;
  .numerator {
    padding-bottom: 1.4rem;
    transform: translateX(4px);
  }
  .slash {
    font-size: 2.8rem;
    font-weight: 300;
    transform: translateY(-2px);
  }
  .denominator {
    padding-top: 1.4rem;
    transform: translateX(-4px);
  }
}
.profile {
  background-image: url("./../images/dummy_1x.png");
  background-size: cover;
  height: 35vh;
  // margin: 0 auto 30px auto;
  margin-bottom: 30px;
  max-height: 250px;
  min-height: 200px;
  // max-width: $container--maxWidth;
}
.visibleDesktop {
  display: none;
}
.cBlue {
  color: $color--main !important;
}
.cPink {
  color: $color--sub !important;
}
.cBlack {
  color: $color--accent !important;
}
.bcBlue {
  background-color: $color--main;
}
.bcPink {
  background-color: $color--sub;
}
.bcBlack {
  background-color: $color--accent;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
#landing {
  display: flex;
  padding: 0 12rem 1.5rem 12rem;
  .landing--banner {
    align-items: left;
    flex: 5;
    div {
      text-align: left;
      &:first-child {
        flex: unset;
      }
    }
    h1 {
      text-align: left;
      margin-bottom: 4rem;
    }
    img {
      max-width: 260px;
      margin-bottom: 2rem;
    }
  }
  .landing--notebook {
    height: 100%;
    flex: 7;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
  .visible-lg div {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      min-width: 500px;
      max-width: 560px;
    }
  }
}
.about--text {
  display: block;
  margin-top: 5rem;
  margin-left: auto;
  width: 50%;
  padding: unset;
  p {
    font-size: 1.8rem;
    + p {
      margin-top: 1.8rem;
    }
  }
}
.button--container {
  justify-content: space-between;
  margin: 4.5rem 0 0 0;
  svg {
    font-size: 4.2rem;
  }
}
.experiment--img--container {
  justify-content: space-between;
  margin: -1.5rem;
  a {
    flex: 1 25%;
    margin-bottom: unset;
    padding: 1.5rem;
  }
}
.profile {
  max-height: 360px;
  min-height: 320px;
}
.profile--photo {
  background-image: url('../images/dummy_1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 300px;
  min-height: 280px;
  margin-right: 6rem;
  flex: 5;
}
.profile--text {
  flex: 7;
}
.visibleDesktop {
  display: inline;
}
}