@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Teko:300,500');
@import '_normalize';
@import '_normalizeCustomConfig';
@import '_variable';
@import '_font';
@import '_debugger';


@keyframes boing {
  0% {transform: scale(1, 1);}
  33% {transform: scale(1.2, 1.2);}
  66% {transform: scale(0.8, 0.8);}
  100% {transform: scale(1, 1);}
}

ul.btnMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 5vw;
  bottom: calc(10vw + 50px);
  display: flex;
  li {
    color: $colorMain;
    background-color: $colorMainTransparent;
    + li {
      margin-left: 0.75em;
    }
  }
}

#timeDisplay {
  position: fixed;
  left: 5vw;
  top: 5vw;
  font-family: $ffBody;
  font-weight: lighter;
}

.activated {
  animation: $transitionS ease-in-out boing;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 500px;
  box-shadow: $boxShadowDefault;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: color $transitionS;
  &:active, &.active {
    transform: translateY(3px);
    box-shadow: $boxShadowPressed;
  }
  svg {
    font-size: 2.4rem;
  }
}

.btnMain {
  background-color: $colorMain;
  color: $colorWhite;
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  z-index: 9999;
}

.inactive {
  background-color: $colorMainTransparent2;
  & svg[data-prefix='fas'] {
    color: $colorMainTransparent2;
  }
  &:active {
    transform: translateY(0);
    box-shadow: $boxShadowDefault;
  }
}

.mainWrapper {
  // align-items: center;
  // display: flex;
  padding: 5vw;
  // flex-direction: column;
  height: 100vh;
  // justify-content: center;
  width: 100vw;
}

.modal {
  display: none;
}

.notes{
  h5 {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
  }
  ul {
    list-style: none;
    margin: 0 0 0 0.4em;
    padding: 0;
    li {
      font-weight: 300;
      font-size: 2rem;
      text-indent: -0.4em;
    }
    li + li {
      margin-top: 0.35em;
    }
  }
  .prompter {
    color: #DD164D;
  }
}

.progressMeter {
  left: 0;
  position: absolute;
  stroke-linecap: round;
  top: 0;
  transform: rotate(-90deg);
}



// BOOTSTRAP NOTES & RESOLUTION REFERENCE
// iPhone SE = 320 * 568px
// iPhone 7 = 375 * 667px
// iPhone 7 Plus = 414 * 736px
// iPad & iPad mini = 768 * 1024px
// iPad Pro = 1024 * 1366px
// Macbook Air 13-inch = 1440 * 900px
// Macbook Pro 15-inch = 2560 * 1600px
// ----------------------------------
@media (min-width: 1025px) {
  .mainWrapper {
    display: none;
  }
  .modal {
    align-items: center;
    background-color: $colorMain;
    color: $colorWhite;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    font-size: 15vh;
    p {
      margin-top: 0.5em;
      color: $colorWhite;
      font-weight: bolder;
      font-size: 3rem;
    }
  }
  .notMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}