@charset 'utf-8';
@import '_reset';
@import '_variable';
@import '_font';
@import '_debugger';

body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
}

table {
  font-size: 1.6rem;
  overflow: hidden;
  + table {
    margin-top: 3em;
  }
  th, td {
    // border: 1px dashed $color--lightgray;
    position: relative;
    padding: 0.5em 2.5em 0.5em 0.5em;
  }
}

.style1 {
  tr:hover {
    background-color: $color--main;
  }
  td:hover {
    background-color: darken($color--main, 10%);
  }
  th:hover::after,
  td:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10000px;
    left: 0;
    top: -5000px;
    background-color: $color--main;
    z-index: -1;
  }
}

.style2 {
  th:hover,
  td:hover {
    background-color: $color--main;
  }
}

/* BOOTSTRAP NOTES & RESOLUTION REFERENCE */
// xs < 768px (.container @ auto)
// sm >= 768px (.container @ 750px)
// md >= 992px (.container @ 970px)
// lg >= 1200px (.container @ 1170px)
// ----------------------------------
// iPhone SE = 320 * 568px
// iPhone 7 = 375 * 667px
// iPhone 7 Plus = 414 * 736px
// iPad & iPad mini = 768 * 1024px
// iPad Pro = 1024 * 1366px
// Macbook Air 13-inch = 1440 * 900px
// Macbook Pro 15-inch = 2560 * 1600px
// ----------------------------------
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */