<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="Shun Miyaki">
<meta name="description" content="Shun Miyaki is a Graphic Designer that helps people communicate their message effectively.">
<meta name="googlebot" content="index, follow">
<meta name="keywords" content="Shun, Miyaki, Online, Portfolio, Designer, Graphic, Graphic Designer">
<meta name="robot" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SHUN MIYAKI</title>
<link rel="icon" href="images/favicon_16px.svg" sizes="any" type="image/svg+xml">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon_16px.png" sizes="16x16" type="image/png">
<link rel="home" href="index.html">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Exo+2:300,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/pau5vzj.css">
<link href="css/stylesheet.css" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>