h1, h2, h3, h4, h5, h6, p, a {
  color: $color--black;
  line-height: 125%;
  text-align: left;
}
h1 {
  font-family: $font--serif;
  font-size: $font--h1;
  text-align: center;
}
h2 {
  font-size: $font--h2;
  line-height: 100%;
}
h3 {
  font-size: $font--h3;
}
h4 {
  font-family: $font--exo;
  font-weight: bolder;
  font-size: $font--h4;
}
h5, h6 {
  font-size: $font--h5;
}
p {
  font-size: $font--p;
}
a {
  font-size: $font--p;
  &:visited, &:focus, &:active {
    color: $color--black;
    outline: none;
    text-decoration: none;
  }
}
span.hl {
  border-bottom: 2px solid lighten($color--sub, 12.5%);
  margin: 0 -0.15em;
  padding: 0 0.15em;
}
span.ul {
  text-decoration: underline;
  text-decoration-color: $color--sub;
}