$blurAmount: 6px;
$box-shadow--default: 0 3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24), 0 0 3px rgba(0,0,0,0.12);
$border--radius: 0.2rem;
$color--black: #343434;
$color--black--transparent: rgba(64,64,64,0.85);
$color--lightgray: #E6E6E6;
$color--gray: #808080;  // rgb(128,128,128);
$color--white: #FFFFFF;
$color--main: #00A5D5;    // Blue  rgb(0,165,213);
$color--main--transparent: rgba(0,165,213,0.95);
$color--sub: #EE86A8;     // Pink  rgb(238,134,168);
$color--accent: #404040;  // Black rgb(64,64,64);
$font--serif: "tribute", "Georgia", "Times New Roman", serif;
$font--exo: "Exo 2", "helvetica", sans-serif;
$font--azo: "azo-sans-web", "helvetica", sans-serif;
$font--p: 2.2rem;   // BODY TEXT
$font--h1: 3.6rem;  // PAGE BANNER
$font--h2: 3.2rem;  // PAGE MAIN HEADER
$font--h3: calc(#{$font--p} * 2.46);  // PAGE SUB HEADER
$font--h4: 1.6rem;  // ARTICLE MAIN HEADER
$font--h5: calc(#{$font--p} * 1.35);  // ARTICLE SUB HEADER
$space__mobile--s: 30px;
$space__mobile--m: 60px;
$space__mobile--l: 90px;
$space__desktop--s: 20px;
$space__desktop--m: 40px;
$space__desktop--l: 60px;
$transition--xs: 0.1s;
$transition--s: 0.3s;
$transition--m: 0.6s;
$transition--l: 1s;
$transition--xl: 1.5s;
$container--maxWidth: 32rem;